<nav class="main-header__nav">
  <ul class="main-header__list-item">
    <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
    <li class="main-header__item"><a class="<%= path === '/user' ? 'active' : '' %>" href="/user">User</a></li>
  </ul>
</nav>
